<script type="text/javascript">
$(function() {
  // when the #country field changes
  $("select#book_interval_id").change(function() {
    // make a POST call and replace the content
    var interval = $('select#book_interval_id :selected').val();
    if (interval == "") interval="0";
    $.get('/admin/books/update_interval_select/' + interval, function(data){
        $("#extrasIntervals").html(data);
    });
    return false;
  });
})
</script>

<%= simple_fields_for 'book' do |f| %>
  <% if intervals.blank? %>
    <%= f.label "Recurso/Horario" %>
    <%= f.select :interval_id, :collection => [] %>
  <% else %>
    <% field_set_tag nil do -%>
      <label>Recurso/Horario</label>
      <%= f.select :interval_id, grouped_options_for_select(intervals) %>
    <% end -%>
  <% end %>
<% end %>

