<%= simple_fields_for 'book' do |f| %>
  <% if !intervals.blank? %>
    <% field_set_tag nil do -%>
      <label>Recurso/Horario</label>
      <%= f.select :interval_id, grouped_options_for_select(intervals) %>
    <% end -%>
  <% else %>
    <%= f.label "Recurso/Horario" %>
    <%= f.select :interval_id, :collection => [] %>
  <% end %>
<% end %>

