<%= simple_fields_for 'book' do |f| %>
  <% if !services_extras.blank? %>
    <label>Servicios Extras</label>
    <%= f.input :service_extras, :as => :check_boxes, :collection => services_extras, :label => "Servicios Extras" %>
  <% else %>
    <%= f.input :service_extras, :as => :check_boxes, :collection => [], :label => "Servicios Extras" %>
  <% end %>
<% end %>

