<p>Hola <%= @admin.to_label %>!</p>

<p>Has solicitado cambiar tu password. Puedes hacerlo a traves del link que esta debajo.</p>

<p><%= link_to 'Change my password', admin_admins_url(@admin.token) %></p>

<p>Si tu no solicitaste esto, por favor ignora este email.</p>

<p>Tu password no se cambiara hasta que no accedas a traves del link y cree uno nuevo.</p>
