<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body style="padding-top: 60px">

  <div class="topbar">
    <div class="topbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Project name</a>
        <ul class="nav">
          <li></li>
        </ul>
        <p class="pull-right">
          Logged in as
          <a href="#">username</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well"></div>
    </div>
    <div class="content">
      <div class="hero-unit"></div>
      <div id="footer">
        <p>@ Webreserva 2012</p>
      </div>
    </div>
  </div>

</body>

</html>
