<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body id="account">
  <div class="site">
    <h1 class="logo">WebReserva</h1>
    <%= display_flash_message %>
    <%= yield :layout %>
  </div>
</body>
</html>
