<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body style="padding-top:50px;">
  <div class="container">
    <div class="content">
      <div class="page-header">
      <h1 style="padding-bottom:150px;text-align:center">Administracion WebReserva</h1>
      <div class="row">
        <div class="span12 offset3">
          <% if flash %>
            <% flash.each do |name, msg| %>
              <div class="alert-message error fade in" data-alert="alert">
                <a class="close" href="#">×</a>
                <p><%= msg %></p>
              </div>
            <% end -%>
          <% end %>
          <%= yield :layout %>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>

