<h2>Reenviando Instrucciones de Confirmacion</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }, :class => "form-horizontal")) do |f| %>
  
  <% field_set_tag 'Confirmacion' do -%>
    <%= f.input :email, :required => true %>
    <%= f.button :submit, "Resend confirmation instructions", :class => "btn-primary" %>
  <% end -%>
<% end %>
