<script type="text/javascript">
$('.MiBanner').carousel({
  interval: 2000
 });
</script>
<div id="MiBanner" class="carousel">
  <div class="carousel-inner">
    <% @photos.each do |image| -%>
      <div class="item">
        <%= image_tag image.photo_url(:thumb) %>
      </div>
    <% end -%>
  </div>
</div>
