<h5>Categorias</h5>
<ul>
  <% @categorias.each do |categoria| %>
    <li class="category">
      <%= link_to categoria.name, {:controller => "welcome", :action => "bycategory", :id => categoria.id}, :remote => true %>
    </li>
  <% end %>
</ul>