<h5>Categorias</h5>
<ul>
  <% @categorias.each do |categoria| %>
    <li class="category">
      <%= link_to categoria.name, bycategory_path(categoria.id), :remote => true, :class => "replace_markers" %>
    </li>
  <% end %>
</ul>