.btn-group.pull-right
  %a.btn.dropdown.toggle{:data => {:toggle => "dropdown"}, :href => "#"}
    %i.icon-user
    = current_user.name
    %span.caret
  %ul.dropdown-menu
    %li
      = link_to "Salir", logout_path
.btn-group.pull-right
  = link_to books_list_books_path, :remote => true, :class => "btn" do
    %i.icon-shopping-cart
    Reservas Pendientes
  

