<div id="myModal" class="modal fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Informacion para las Empresas</h3>
    <%= image_tag 'logo_final.png', :height => "60px", :width => "193px" %>
  </div>
  <div class="modal-body">
    <h3>WebLinks Technologies.ltd</h3>
    <p>Desde la aplicación www.webreserva.me le enviamos un atento saludo y procedemos a informarle de las ventajas que tendrá su incorporación a este portal de reservas. </p>

    <p>www.webreserva.me se ha concebido como un portal genérico de reservas para multitud de negocios que quieran aumentar su disponibilidad y difusión.</p>

    <p>Como resumen rápido, le podemos decir que, desde esta aplicación cualquier usuario, puede realizar una reserva en los distintos servicios que su negocio ofrece. Servicios que usted mismo puede administrar desde el panel de control de la aplicación.</p>

    <hr>

    <p>La aplicación, así mismo, le ofrece la posibilidad de situar su negocio en google map facilitando de esta manera la localización de su negocio, carrusel de imágenes (donde mostrar desde las instalaciones hasta fotos de sus productos), facilitar información básica sobre su negocio (teléfono, dirección, horarios, etc...), ofertas especiales, precios e información en tiempo real, de los servicios y tramos horarios que se encuentran disponibles.</p>
    <p>Para ello, la aplicación cuenta con una página de administración desde la cual gestionar su negocio y realizar incluso posibles reservas atendidas telefónicamente.</p>
    <p>Al no tratarse de un paquete cerrado, la aplicación se encuentra abierta a infinitos cambios, adaptando así la aplicación lo máximo posible a sus gustos y necesidades.</p>
    <p>A partir de ahora, desde cualquier punto del mundo SU NEGOCIO será visible, ofreciendo sus productos las 24 horas del día, los 365 días al año.</p>
    <p>Es por tanto un impulso a su negocio QUE LE PERMITE GESTIONAR RESERVAS O CITAS 24 HORAS AL DÍA, ALLÍ DONDE SE ENCUENTRE.</p>
    <p>Que ganamos nosotros?. Primero su fidelidad. Segundo su tranquilidad. Tercero su comodidad y en cuarto lugar un porcentaje sobre las reservas que se efectúen online, es decir, por el propio usuario, no por el administrador (telefónicas, presenciales). Cuanto más gane usted, más ganamos nosotros. El porcentaje es negociable y particularizado al negocio en cuestión.  Iniciar actividad en nuestra aplicación tiene un coste 0€, totalmente gratuita para su negocio.</p>
    <p>Sin más, invitarle a que visite www.webreserva.me, proceda a registrarse como usuario o si ya es usuario de una red social puede acceder con el usuario y contraseña de ésta. Descubrirá como un cliente puede efectuar en no más de 15 segundos una reserva en su negocio.</p>
    <p>Recordarle que los datos que aparecen en la web son totalmente ficticios; Es una demo.</p>
    <p>En caso de que se encuentre interesado, en probar el panel de administración de la aplicación,
      solicite mas información a través de la dirección de correo electrónico <%= mail_to "info@webreserva.me" %> o a
      los telefonos <span style="background-color: yellow;">661085928 - 639066395</span>.
    </p>
    <p>Sin más, un saludo y que disfrute.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-info" data-dismiss="modal">Cerrar</a>
  </div>
</div>
