<h5>Reservas Disponibles</h5>
<ul>
  <% @resorts.each do |resort| %>
    <li class="resorts">
      <% if current_user %>
        <%= link_to resort.name, {:controller => "books", :action => "daily", :id => resort.id}, :remote => true %>
      <% else %>
        <%= resort.name %>
      <% end %>
    </li>
  <% end %>
</ul>