<h4>Seleccione Provincia</h4>
<form class="form">
  <div class="clearfix">
    <div class="input">
      <%= select_tag 'Provincia', options_from_collection_for_select(@provincias, "id", "name"), :class => 'medium' %>
    </div>
  </div>
</form>

