<div class="row" id="list">
  <h3 style="text-align: center">Listado de Reservas Pendientes</h3>
  <div class="span12">
    <% unless @books.nil? %>
      <table class="table">
        <tr>
          <th>Donde</th>
          <th>Dia Cita</th>
          <th>Hora Cita</th>
          <th>Reserva</th>
          <th></th>
          <th></th>
        </tr>
        <tbody id="books">
          <%= render :partial => @books %>
        </tbody>
      </table>
      <div id="paginator">
        <%= paginate @books, :remote => true %>
      </div>
    <% else %>
      <h2 style="text-align: center">No Tiene Reservas</h2>
    <% end %>
  </div>
</div>

