<%= simple_form_for [:admin, @service_extra], :html => { :class => "form-stacked" } do |f| %>
  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>
  <%= render :partial => "service_extras_fields", :locals => {:f => f} %>
  <%= f.button :submit, :class => "btn-primary" %>
<% end %>

