<div class="clearfix">
  <div class="input">
    <%= f.input :name %>
  </div>
</div>
<div class="clearfix">
  <div class="input">
    <%= f.input :lasting, :input_html => { :class => 'span2' } %>
  </div>
</div>
<div class="clearfix">
  <div class="input">
    <%= f.input :cost, :input_html => { :class => 'span2' } %>
  </div>
</div>
<div class="clearfix">
  <div class="input">
    <%= f.association :store, :input_html => { :class => 'medium' }, :collection => Store.storeadmin(current_admin_admin.id) %>
  </div>
</div>
