<% content_for :content do %>
  <div class="page-header">
    <h2>Modificar Servicio Extra</h2>
  </div>

  <%= render 'form' %>

  <p><%= link_to "Volver Listado", admin_service_extras_path %></p>
<% end %>

