<p>Hola <%= @admin.nombre_completo %>!</p>   

<p>Has solicitado cambiar tu password. Puedes hacerlo a traves del link que esta debajo.</p> 

<p><%= link_to 'Cambiar el Password', edit_password_url(@admin, :reset_password_token => @admin.reset_password_token)
%></p>

<p>Si tu no solicitaste esto, por favor ignora este email.</p> 

<p>Tu password no se cambiara hasta que no accedas a traves del link y crees uno nuevo.</p> 
