<p>Hola <%= @admin.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un excesivo numero de intentos fracasados de inicios de sesion.</p>

<p>Click el link inferior para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@admin, :unlock_token => @admin.unlock_token) %></p>
