// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 11px;

  img {
    display: block;
  }
}

.user{
  padding: 12px 8px 12px 8px;
  height: 24px;
  float:right;
}

li.category {
  list-style: none;
}

li.stores {
  list-style: none;
}

li.resorts {
  list-style: none;
  background: url(image_path("tag.png")) left center no-repeat;
  padding-left: 20px;
  height: 30px;
  padding-top: 5px;
}

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }

.menu { background-color: #eeeeee; }

.altura { z-index: 0;}

.form-menu {
  margin-top: 14px;
  margin-bottom: 0px;
}

.pics {  
    height:  162px;  
    width:   112px;  
    padding: 0;  
    margin:  0;  
} 
 
.pics img {  
    padding: 15px;  
    border:  1px solid #ccc;  
    background-color: #eee;  
    width:  160px; 
    height: 110px; 
    top:  0; 
    left: 0 
}
