// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 11px;

  img {
    display: block;
  }
}

p.user{
  background: url(image_path("user_green.png")) left bottom no-repeat;
  padding-left: 25px;
  height: 24px;
}

li.category {
  list-style: none;
}

li.stores {
  list-style: none;
}

li.resorts {
  list-style: none;
  background: url(image_path("tag.png")) left center no-repeat;
  padding-left: 20px;
  height: 30px;
  padding-top: 5px;
}

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }

.menu { background-color: rgb(107,148,163); }

.altura { z-index: 0;}

.form { margin-top:18px; }

