// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.category {
  list-style: none;
}

li.stores {
  list-style: none;
}

li.resorts {
  list-style: none;
  background: url(image_path("tag.png")) left center no-repeat;
  padding-left: 20px;
  height: 30px;
  padding-top: 5px;
}

.yellow { border: 1px solid black; margin-top: 8px; background: yellow; padding: 5px; }

.altura { z-index: 0;}

<<<<<<< HEAD
.form-menu {
  margin-top: 10px;
  margin-bottom: 0px;
}
=======
>>>>>>> 8dc5451af97d02b2ecac2b960a34c4cdbb9fbcc4
#mapCanvas img {
  max-width: none;
}
body { padding-top: 90px; }
$navbarBackground: #eee;
