<%= simple_form_for [:admin, @interval], :html => { :class => "form-stacked" } do |f| %>
  <div class="row">
    <div class="span4">
      <div class="clearfix">
        <div class="input">
          <%= f.association :resort %>
        </div>
      </div>
      <div class="clearfix">

      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => "btn primary" %>
  </div>
<% end %>