<!DOCTYPE html>
<html>
<head>
  <title>Registro en GaliSport</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="page-header">
        <h2>Registro</h2>
        <div class="row">
          <div class="span-one-third offset-one-third">
            <%= yield :main %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>