<!DOCTYPE html>
<html>
<head>
  <title>Registro en GaliSport</title>
  <%= stylesheet_link_tag 'register' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site">
    <%= yield :main %>
  </div>

</body>
</html>