<h3>Reenvio de Intrucciones de desbloqueo</h3>

<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "form-vertical" }) do |f| %>
  
  <%= f.input :email, :required => true %>
  <%= f.button :submit, "Reenviar instrucciones de desbloqueo", :class => "btn-primary" %>
<% end %>

<%= render :partial => "devise/shared/links" %>
